<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fengrian Legislation</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h1 class="header" style="text-align: center;">fengrian legislation</h1>
    <hr>
    <button><a href="/">Home</a></button>
    <button><a href="/disclaimer">Disclaimer</a></button>
    <hr>
    <div class="container">
        <nav id="menu" style="width: 250px;">
            <h3 class="header">acts</h3>
            <ul class="navList">
                <li><a href="/acts/inforce">in force</a></li>
                <li><a href="/acts/ceased">ceased</a></li>
            </ul>
        </nav>
        <section id="content">
            <div class="contentOutline">
                {{{body}}}
            </div>
        </section>
    </div>
    <hr>
    <p style="text-align: center;">&copy; 2025 Parliament of Fengri</p>
</body>
</html>