<h2 class="header">disclaimer</h2>
<p>
    The Parliament of Fengri provides the information on this website, including legislation, regulations, and any other documents for informational purposes only. The Parliament of Fengri does not accept responsibility for the accuracy or completeness of this material. Users are advised to exercise due diligence and independent judgment when using this information. Accordingly, the Parliament of Fengri and its servants and agents expressly disclaim all liability for any act or omission done or made in reliance on such material and any consequences of such act or omission. The information on this website is subject to change without notice. Any disputes arising from the use of this website shall be governed by the laws of Fengri.
</p>